.star {
    transition: color 0.3s ease-in-out;

    &.color-yellow-400 {
        color: #fbbf24;
    }

    &.color-gray-300 {
        color: #d1d5db;
    }
}

.star:hover {
    transform: scale(1.1);
}

.textarea {
    width: 100%;
    padding: 10px;
}

/* ReviewForm.scss */
form {
    max-width: 100%;
    /* Ocupa el ancho completo */
    margin: auto;
    /* Centra el formulario */
    padding: 1.5rem;
    /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    border-radius: 0.375rem;
    /* Bordes redondeados */
}

label {
    display: block;
    /* Asegura que la etiqueta ocupe su propia línea */
    margin-bottom: 0.5rem;
    /* Espaciado debajo de la etiqueta */
}

textarea {
    width: 100%;
    /* Ocupa el ancho completo */
    padding: 0.75rem;
    /* Espaciado interno */
    border: 1px solid #d1d5db;
    /* Borde */
    border-radius: 0.375rem;

    /* Bordes redondeados */
    &:focus {
        outline: none;
        /* Elimina el contorno al enfocar */
        border-color: #3b82f6;
        /* Cambia el color del borde al enfocar */
    }
}


button {
    background-color: #f63b3b; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    padding: 0.5rem 1rem; /* Espaciado interno */
    border-radius: 0.375rem; /* Bordes redondeados */
    &:hover {
      background-color: #eb2525; /* Fondo azul más oscuro al pasar el mouse */
    }
  }